@import "../../../../scss/variables";

.HomeBannerBlock {
    position: relative;

    background-color: $second-bg-color;

    overflow: hidden;

    &:hover .wrapper {
        transform: scale(1.05);

        @media (min-width: 1921px) {
            border-radius: 95px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1920px;
        height: 898px;
        margin: 0 auto;

        background-image: url(../../../../assets/images/background-image/HomeBannerBlockBG.jpg);

        transition: 
            transform ease-in 1800ms,
            border-radius ease-in 1800ms;

        @media (min-width: 1921px) {
            border-radius: 35px;
        }
    }

    .title {
        position: absolute;
        top: 247px;
        left: 260px;

        h2 {
            margin-bottom: 8px;

            font-family: $third-font-family;
            font-weight: 400;
            font-size: 36px;
            color: $third-text-color;
        }

        h3 {
            max-width: 530px;
            margin-bottom: 23px;

            font-weight: 800;
            font-size: 70px;
        }

        @media (min-width: 1921px) {
            left: 18vw;
        }

        @media (min-width: 2700px) {
            left: 25vw;
        }
    }
}