@import "../../../scss/variables";

.bannerBlock {
    background-color: $second-bg-color;

    overflow: hidden;

    &:hover div {
        transform: scale(1.1);
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1920px;
        height: 450px;
        margin: 0 auto;

        transition: transform ease-in 800ms;

        h2 {
            font-weight: 800;
            font-size: 70px;
        }

        @media (min-width: 1921px) {
            border-radius: 30px;
        }
    }

    &AboutUs {
        background-image: url(../../../assets/images/background-image/BannerBG/BannerBGAboutUs.jpg);
    }

    &Shop {
        background-image: url(../../../assets/images/background-image/BannerBG/BannerBGShop.jpg);
    }

    &ShopSingle {
        background-image: url(../../../assets/images/background-image/BannerBG/BannerBGShopSingle.jpg);
    }

    &Cart {
        background-image: url(../../../assets/images/background-image/BannerBG/BannerBGCart.jpg);
    }
    &OurTeam {
        background-image: url(../../../assets/images/background-image/BannerBG/BannerBGOurTeam.jpg);
    }

}