@import "../../../../scss/variables";

.foodPrice {
    font-family: $second-font-family;
    font-weight: 700;
    font-size: 18px;

    span {
        margin-right: 10px;

        font-weight: 600;
        font-size: 15px;
        
        color: #b8b8b8;    

        text-decoration: line-through;
    }
}