@import "../../../../scss/variables";

.card {
    width: 335px;
    height: 483px;

    background-color: $second-bg-color;
    border-radius: 30px;

    cursor: pointer;

    transition: 
        background-color ease-in 300ms,
        box-shadow ease-in 300ms,
        transform ease-in 300ms;

    @media (max-width: 360px) {
        width: 300px;
    }

    &:hover {
        background-color: $main-bg-color;
        box-shadow: $main-box-shadow;
        transform: translateY(-5px);
    }

    &:hover img{
        transform: scale(1.05);
    }

    &Category {
        position: relative;
        z-index: 2;

        display: inline-block;

        padding: 5px 16px;
        margin: 30px 0 10px 30px;

        background-color: $third-bg-color;
        border-radius: 8px;

        font-family: $second-font-family;
        font-weight: 600;
        font-size: 15px;
        text-align: center;

        color: $fourth-text-color;
    }

    &Img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 325px;
        height: 314px;
        margin: 0 auto;

        background-color: $main-bg-color;
        border-radius: 18px;

        overflow: hidden;

        @media (max-width: 360px) {
            width: 290px;
        }

        img {
            width: 244px;
            height: 220px;
            object-fit: contain;

            transition: transform ease-in 300ms;
        }
    }

    h3 {
        padding-top: 10px;
        margin-left: 30px;

        font-weight: 600;
        font-size: 20px;
    }

    &Info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 10px;
        margin: 12px 30px;

        border-top: 1px solid #b8b8b8;
    }
}