@import "../../../../scss/variables";

.shopBlockMain {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;

        width: 1400px;
        margin: 20px auto;
    }

    .wrapperError {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 1400px;
        height: 400px;
        margin: 0 auto;
    }
}