.cartBlock {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;

    width: 1400px;
    margin: 40px auto;

    @media (max-width: 1450px) {
        gap: 20px;

        width: 100%;
        padding: 0 16px;
        margin: 20px auto;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 1400px;

        @media (max-width: 1450px) {
            width: 100%;


            @media (max-width: 1250px) {
                align-items: center;
            }
        }

        &Button {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 40px;
    
            padding-right: 10px;

            h2 {
                font-weight: 800;
                font-size: 30px;

                @media (max-width: 600px) {
                    font-size: 20px;
                }
            }
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        width: 1400px;
        padding: 100px 0;

        @media (max-width: 1450px) {
            width: 100%;
            padding: 30px 0;
        }

        h2 {
            text-align: center;
            font-weight: 800;
            font-size: 50px;
        }

        a {
            display: flex;
            justify-content: center;
        }
    }
}