@import "../../../scss/variables";


.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0 20px;

    background-color: $main-bg-color;

    @media (max-width: 1450px) {
        padding: 20px 0 20px;
        margin: 16px;
    }

    .form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 1400px;
        height: 323px;
        padding: 0 70px;

        background-color: $second-bg-color;
        background-image: url(../../../assets/images/background-image/subscribeBlockBG.jpg);
    

        border-radius: 30px;

        @media (max-width: 1100px) {
            flex-wrap: wrap;

            width: 100%;
            height: auto;
            min-height: 323px;
            padding: 0 20px;
        }

        h2 {
            max-width: 355px;
    
            font-weight: 800;
            font-size: 50px;
    
            color: $fourth-text-color;

            @media (max-width: 1100px) {
                font-size: 40px;
            }
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (max-width: 500px) {
            flex-wrap: wrap;
        }

        input {
            width: 349px;
            height: 80px;
            padding: 0 23px;

            background-color: $main-bg-color;
            border-radius: 16px;

            @media (max-width: 1100px) {
                width: 40vw;
                min-width: 210px;
                height: 40px;
            }

            &::placeholder {

                color: #ababab;
                opacity: 1; /* Firefox */
            }
              
            &::-ms-input-placeholder { /* Edge 12 -18 */
                color: #ababab;
            }
        }
    }
}