@import "../../../scss/variables";

.miniBannerCard {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 682px;
    height: 367px;

    border-radius: 30px;

    overflow: hidden;

    transition: box-shadow ease-in 300ms;

    @media (max-width: 850px) {
        width: 300px;
        height: 200px;
    }

    &:hover {
        box-shadow: $main-box-shadow;
    }

    &:hover img {
        transform: scale(1.1) rotate(3deg);
    }

    img {
        transition: transform ease-in 800ms;

        @media (max-width: 850px) {
            width: 400px;
            height: 200px;
        }
    }

    .wrapper {
        position: absolute;
        top: 110px;
        left: 55px;

        @media (max-width: 850px) {
            top: 70px;
            left: 20px;
        }

        h2 {
            margin-bottom: 5px;

            font-family: $third-font-family;
            font-weight: 400;
            font-size: 36px;

            @media (max-width: 850px) {
                font-size: 20px;
            }
        }

        h3 {
            max-width: 260px;

            font-weight: 800;
            font-size: 40px;

            @media (max-width: 850px) {
                font-size: 30px;
            }
        }
    }

    .light {
        color: $fourth-text-color;
    }

    .dark {
        color: $main-text-color;

        h2 {
            color: $third-text-color;
        }
    }
}