@import "./normalize";
@import "./variables";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
    margin: 0;
    padding: 0;

    text-decoration: none;
}

body {
    background-color: $main-bg-color;

    font-family: $main-font-family;
    color: $main-text-color;

    border: 1px solid green; //////////////////////////////////////////////////////////////////////////////////
}

p {
    font-family: $second-font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: $second-text-color;
}