@import "../../../scss/variables";

.licence {
    background-color: $main-bg-color;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        height: 225px;

        background-color: $second-bg-color;

        @media (max-width: 1400px) {
            height: 80px;
        }
    

        &SVG {
            position: absolute;

            @media (max-width: 1919px) {
                width: 100%;

                svg {
                    width: 100%;

                    @media (max-width: 1400px) {
                        display: none;
                    }
                }
            }
        }
    }

    h2 {
        font-weight: 800;
        font-size: 50px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        padding: 150px 0;

        @media (max-width: 1400px) {
            gap: 40px;

            padding: 30px 0;
        }

        .descriptionWrapper {
            display: flex;
            justify-content: space-between;
            gap: 100px;

            width: 1300px;

            @media (max-width: 1400px) {
                flex-direction: column;
                align-items: center;
                gap: 30px;

                width: 100%;
                padding: 0 16px;
            }

            h3 {
                font-weight: 800;
                font-size: 40px;

                @media (max-width: 1400px) {
                    font-size: 30px;
                }
            }

            div {
                max-width: 830px;

                p {
                    margin-bottom: 20px;

                    font-weight: 400;
                    font-size: 18px;
                    line-height: 165%;
                }
            }
        }
    }
}